<% if flash.any? -%>
  <div id='flash-messages'>
    <% [:error, :warning, :notice].each do |level| 
        if flash[level] -%>
          <div class="flash <%= level.to_s -%>" id="<%= level.to_s -%>"><%= flash[level] -%></div>
          <script type="text/javascript">
            $("#<%= level.to_s -%>").effect("highlight", {}, 2000);
            setTimeout($("#<%= level.to_s -%>").fadeOut("slow"), 2000);
          </script>
      <% end -%>
    <% end -%>
  </div>
<% end -%>